@font-face {
    font-family: Raleway;
    src: local('Raleway'), url(../../assets/Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: Raleway-Bold;
  src: local('Raleway-Bold'), url(../../assets/Raleway/static/Raleway-Bold.ttf) format('truetype');
}
@font-face {
  font-family: Raleway-Medium;
  src: local('Raleway-Medium'), url(../../assets/Raleway/static/Raleway-Medium.ttf) format('truetype');
}
.metrc-button {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    letter-spacing: 0.2px;
  }
  .metrc-button--primary {
    color: white;
    background-color: #1ea7fd;
  }
  .metrc-button--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  .metrc-button--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  .metrc-button--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  .metrc-button--large {
    font-size: 16px;
    padding: 12px 74px;
  }
  .hide{
      display:none;
  }
  .show{
      display: block;
  }